<section class="p-y">
 <h1 class="display-3">
     Thank You For Your Purchase
 </h1>
 <p class="lead"> Your Ebook should be emailed to you within 24 hours</p>
 <a href="/" class="btn btn-dark btn-lg">Back to homepage</a>  
</section>